body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ffffff;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
  }
  
  #frame {
    width: 97%;
    min-width: 360px;
    /* max-width: 1000px; */
    height: 95vh;
    min-height: 300px;
    /* max-height: 720px; */
    background: #E6EAEA;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
  }
  #frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    /* background: #2c3e50; */
    background: #303030;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel {
      width: 58px;
      min-width: 58px;
    }
  }
  #frame #sidepanel #profile {
    width: 80%;
    margin: 25px auto;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile {
      width: 100%;
      margin: 0 auto;
      padding: 5px 0 0 0;
      /* background: #32465a; */
      background: #303030;
    }
  }
  #frame #sidepanel #profile .wrap {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap {
      height: 55px;
    }
  }
  #frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 15px;
  }
  #frame #sidepanel #profile .wrap #profile-img{
    float: left;
    /* margin-left: 15px; */
    width: 60px;
    /* content: url('./account_circle_white_48dp.svg'); */
    /* content: url('./chat.png'); */
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap p {
      display: none;
    }
  }
  #frame #sidepanel #profile .wrap #logout-img{
    content: url('./logout_white_36dp.svg');
  }
  #frame #sidepanel #search {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    /* border-top: 1px solid #32465a;
    border-bottom: 1px solid #32465a; */
    font-weight: 300;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #search {
      display: none;
    }
  }
  #frame #sidepanel #search label {
    position: absolute;
    margin: 10px 0 0 20px;
  }
  #frame #sidepanel #search input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    padding: 10px 0 10px 46px;
    /* width: calc(100% - 25px); */
    width: 100%;
    border: none;
    background: #6e6e6e;
    /* background: #32465a; */
    color: #f5f5f5;
  }
  #frame #sidepanel #search input:focus {
    outline: none;
    background: #6e6e6e;
    /* background: #435f7a; */
  }
  #frame #sidepanel #search input:hover {
    background: #303030;
  }
  #frame #sidepanel #search input::-webkit-input-placeholder {
    color: #f5f5f5;
  }
  #frame #sidepanel #search input::-moz-placeholder {
    color: #f5f5f5;
  }
  #frame #sidepanel #search input:-ms-input-placeholder {
    color: #f5f5f5;
  }
  #frame #sidepanel #search input:-moz-placeholder {
    color: #f5f5f5;
  }
  #frame #sidepanel #contacts {
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts {
      height: calc(100% - 149px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    #frame #sidepanel #contacts::-webkit-scrollbar {
      display: none;
    }
  }
  #frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #ffffff;
    /* background: #2c3e50; */
  }
  #frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    /* background-color: #243140; */
  
  }
  #frame #sidepanel #contacts ul li.group img{
    content: url('./groups_white_48dp.svg');
  }
  #frame #sidepanel #contacts ul li.friend img{
    content: url('./account_circle_white_48dp.svg');
  }
  #frame #sidepanel #contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact {
      padding: 6px 0 46px 8px;
    }
  }
  #frame #sidepanel #contacts ul li.contact:hover {
    background: #6e6e6e;
    /* background: #32465a; */
  }
  #frame #sidepanel #contacts ul li.contact.active {
    background: #6e6e6e;
    border-right: 5px solid #6e6e6e;
    /* background: #32465a;
    border-right: 5px solid #435f7a; */
  }
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap {
      width: 100%;
    }
  }
  #frame #sidepanel #contacts ul li.contact .wrap img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap img {
      margin-right: 0px;
    }
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap .meta {
      display: none;
    }
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5;
  }
  #frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar {
      display: none;
    }
  }
  #frame #sidepanel #bottom-bar label {
    position: absolute;
    margin: 10px 0 0 20px;
  }
  #frame #sidepanel #bottom-bar input {
    float: left;
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background: #6e6e6e;
    /* background: #32465a; */
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  }
  #frame #sidepanel #bottom-bar input:focus {
    outline: none;
    /* background: #435f7a; */
  }
  #frame #sidepanel #bottom-bar input:hover {
    background: #303030;
  }
  #frame #sidepanel #bottom-bar input::placeholder {
    color: #f5f5f5;
  }
  #frame .content {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame .content {
      width: calc(100% - 58px);
      min-width: 300px !important;
    }
  }
  @media screen and (min-width: 900px) {
    #frame .content {
      width: calc(100% - 340px);
    }
  }
  #frame .content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
  }
  #frame .content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
      content: url('./user-circle-solid.svg');
  }
  #frame .content .contact-profile p {
    float: left;
  }
  #frame .content .contact-profile #memberDiv {
    font-weight: 300;
    float: right;
    width: 220px;
  }
  @media screen and (max-width: 735px) {
    #frame .content .contact-profile #memberDiv {
      display: none;
    }
  }
  #frame .content .contact-profile #memberDiv label {
    position: absolute;
  }
  #frame .content .contact-profile #memberDiv input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    /* padding: 10px 0 10px 46px; */
    /* width: calc(100% - 25px); */
    float: right;
    border: none;
    background: #6e6e6e;
    /* background: #435f7a; */
    color: #ffffff;
  }
  #frame .content .contact-profile #memberDiv input:hover {
    background: #303030;
  }
  #frame .content .contact-profile #memberDiv input::placeholder {
    color: #f5f5f5;
  }  
  
  /* #frame .content .contact-profile #memberDiv #addMember {
    float: right;
  } */
  
  #frame .content .contact-profile .social-media {
    float: right;
  }
  #frame .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
  }
  #frame .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
  }
  #frame .content .contact-profile .social-media i:hover {
    color: #435f7a;
  }
  #frame .content .messages {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: calc(100% - 120px);
    max-height: calc(100% - 120px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  @media screen and (max-width: 735px) {
    #frame .content .messages {
      max-height: calc(100% - 105px);
    }
  }
  #frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  #frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  #frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
  }
  #frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
  }
  #frame .content .messages ul li.sent img {
    margin: 6px 8px 0 0;
  }
  #frame .content .messages ul li.sent pre {
    background: #303030;
    /* background: #435f7a; */
    color: #f5f5f5;
  }
  #frame .content .messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
  }
  #frame .content .messages ul li.replies pre {
    background: #f5f5f5;
    float: right;
  }
  #frame .content .messages ul li img {
    width: 22px;
    border-radius: 50%;
    float: left;
  }
  #frame .content .messages ul li pre {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
  }
  @media screen and (min-width: 735px) {
    #frame .content .messages ul li pre {
      max-width: 300px;
    }
  }
  #frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
  }
  #frame .content .message-input .wrap {
    position: relative;
  }
  #frame .content .message-input .wrap input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    height: 50px;
    width: calc(100% - 100px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
  }
  @media screen and (max-width: 735px) {
    #frame .content .message-input .wrap input {
      padding: 15px 32px 16px 8px;
    }
  }
  #frame .content .message-input .wrap input:focus {
    outline: none;
  }
  #frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    /* height: 100%; */
    height: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #303030;
    /* background: #32465a; */
    color: #f5f5f5;
  }
  @media screen and (max-width: 735px) {
    #frame .content .message-input .wrap button {
      padding: 16px 0;
    }
  }
  #frame .content .message-input .wrap button:hover {
    background: #6e6e6e;
    /* background: #435f7a; */
  }
  #frame .content .message-input .wrap button:focus {
    outline: none;
  }

  #custom-alert {
    top: 10px;
    position: fixed;
  }


/* css animation */

#frame span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

#frame span:nth-child(1)
{
  transform:rotate(0deg);
}

#frame span:nth-child(2)
{
  transform:rotate(180deg);
}

#frame span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: #000000;
  /* background: #50dfdb; */
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
} 